In [2]:
import pandas as pd

In [3]:
df=pd.read_excel(r"C:\Users\asus\Desktop\Datasets\Raw data .xlsx")
df

    Id      Name  Lastname  Salary Department  Mobile no.
0    1     Anshu    Rajput   90000      Sales  8595787610
1    2    Manish     Kumar   62000  Marketing  8595787611
2    3     Aadil      Khan   70000    Finance  8595787612
3    4   Chandan    Thakur   80000         IT  8595787613
4    5      Aman     Anand   20000      Sales  8595787614
5    6     Badal     Singh   65000  Marketing  8595787615
6    7      Anil     Yadav   55000    Finance  8595787616
7    8     Akash     Verma   75000         IT  8595787617
8    9      Yash  Kushwaha   25000      Sales  8595787618
9   10  Abhishek     Yadav   95000  Marketing  8595787619
10  11   Aaditya     Yadav   10000    Finance  8595787620
11  12     Daksh   Chauhan   66000         IT  8595787621
12  13     Ayush     Singh   30000      Sales  8595787622
13  14      Arun     Singh   89000  Marketing  8595787623
14  15    Ashish     Rawat   90000    Finance  8595787624
15  16    Shivam    Thakur   91000         IT  8595787625
16  17     Swati    Thakur   92000      Sales  8595787626
17  18    Vineet      Ojha   93000  Marketing  8595787627
18  19    Sourav    Mathur   94000    Finance  8595787628
19  20    Yogesh    Sharma   95000         IT  8595787629