In [4]:
# ''' Collection: Collection is a group collection of data in which we can store the multiple values at a single place.
# It has two types type:
# 1. Similar type   // Array
# 2. Differnet type   // List, Tuple, Dictionary, Set etc '''

In [3]:
# list: list is a collection of object type elements

In [ ]:
# Methods for Modifying Lists
# append(): Adds a single element to the end of the list. Example: my_list.append(4) results in [1, 2, 3, 4].
# extend(): Adds the elements of another iterable (like another list) to the end of the current list.
#             Example: my_list.extend([4, 5]) results in [1, 2, 3, 4, 5].
# insert(): Adds an element at a specified position/index. Example: my_list.insert(1, 5) results in [1, 5, 2, 3].
# remove(): Removes the first occurrence of a specified value. A ValueError is raised if the item is not found. 
#             Example: my_list.remove(2) results in [1, 3, 2] from [1, 2, 3, 2].
# pop():    Removes and returns the element at a specified index (defaults to the last item if no index is provided). 
#           Example: popped_element = my_list.pop(1) removes the item at index 1 and returns it.
# clear(): Removes all elements from the list, making it empty. Example: my_list.clear() results in []. 

# Methods for Reordering and Copying
# sort():    Sorts the list in ascending order (in-place modification). You can use reverse=True as a parameter to sort in descending order.
# reverse(): Reverses the current order of the elements in the list in place.
# copy():    Returns a shallow copy of the list, so modifications to the new list do not affect the original. 
    
# Methods for Information Retrieval
# count(): Returns the number of elements with the specified value.
# index(): Returns the index of the first element with the specified value. A ValueError is raised if the value is not present

In [9]:
a=[1,2,3,2,4,5,6,7,8]
a.remove(5)
a

[1, 2, 3, 2, 4, 6, 7, 8]

In [5]:
a=[1,2,3,2,4,5,6,7,8]
for i in a:
    if i==2:
        a.remove(i)
print(a)

[1, 3, 4, 5, 6, 7, 8]

In [7]:
a=[1,2,3,8,9]
b=[4,5,6]
c=[]
print(a+b)
for i in range(len(a)):
    c.append(a[i])
    if i<len(b):
        c.append(b[i])
print(c)

[1, 2, 3, 8, 9, 4, 5, 6]
[1, 4, 2, 5, 3, 6, 8, 9]

In [8]:
a=[1,2,3]
b=[4,5,6,7,8]
c=[]
# print(a+b)
for i in range(len(b)):
    if i<len(a):
        c.append(a[i])
    c.append(b[i])
print(c)

[1, 4, 2, 5, 3, 6, 7, 8]

In [9]:
a=[1,2,3,4,5,6,7,8]
max=a[0]
for i in range(len(a)):
   if max<a[i]:
      max=a[i]
print(max)

8

In [10]:
a=[1,2,3,4,5,6,7,8,5,4,6,3,8]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
print(a)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 8]

In [14]:
a=[1,2,3,4,5,6,7,8]
b=[]
for i in range(len(a)):
    a.reverse()
    b.append(a[i])
print(b)

[8, 2, 6, 4, 4, 6, 2, 8]

In [1]:
# List slicing

In [4]:
k=[1,2,3,'Ravi','Sonu','Monu',77,66]
print(k)
print(k[3])
print(k[-2])

[1, 2, 3, 'Ravi', 'Sonu', 'Monu', 77, 66]
Ravi
77

In [6]:
k=[1,2,3,'Ravi','Sonu','Monu',77,66]
print(k[2:7])         #[starting index,ending index,step] n-1   2-6
print(k[2:7:2])

[3, 'Ravi', 'Sonu', 'Monu', 77]
[3, 'Sonu', 77]

In [7]:
#Negative slicingw
k=[1,'Akhil',2,3,'Ravi','Sonu','Monu',77,66]
print(k[-2:-8:-1])             #n+1   -2 se -7 tak

[77, 'Monu', 'Sonu', 'Ravi', 3, 2]

In [8]:
k=[1,'Akhil',2,3,'Ravi','Sonu','Monu',77,66]
print(k[-8:-2])   # positive slicing

['Akhil', 2, 3, 'Ravi', 'Sonu', 'Monu']

In [11]:
k=[1,'Akhil',2,3,'Ravi','Sonu','Monu',77,66]
print(k[:8])            # by default starting index=0  so, 0-7
print(k[3:])            # by dafault ending index=n=1  so, 3-last value
print(k[:])
print(k[::-1])          # Reverse

[1, 'Akhil', 2, 3, 'Ravi', 'Sonu', 'Monu', 77]
[3, 'Ravi', 'Sonu', 'Monu', 77, 66]
[1, 'Akhil', 2, 3, 'Ravi', 'Sonu', 'Monu', 77, 66]
[66, 77, 'Monu', 'Sonu', 'Ravi', 3, 2, 'Akhil', 1]

In [12]:
k=[1,'Akhil',2,3,'Ravi','Sonu','Monu',77,66,True]
for i in k:
    print(i,type(i))

1 <class 'int'>
Akhil <class 'str'>
2 <class 'int'>
3 <class 'int'>
Ravi <class 'str'>
Sonu <class 'str'>
Monu <class 'str'>
77 <class 'int'>
66 <class 'int'>
True <class 'bool'>

In [13]:
x=int(input("Enter the size of list"))
k=[]
for i in range(0,x):
    v=eval(input("Enter the value"))  # eval can store any type of values
    k.append(v)
print(k)

Enter the size of list 10
Enter the value 22
Enter the value 33
Enter the value 4
Enter the value 5
Enter the value 'Ravi'
Enter the value 'Aman'
Enter the value 'Akhil'
Enter the value 3
Enter the value 45
Enter the value 66

[22, 33, 4, 5, 'Ravi', 'Aman', 'Akhil', 3, 45, 66]

In [15]:
k=[]
while True:
    x=eval(input("Enter the value"))
    if(x=='exit'):
        break
    k.append(x)
print(k)

Enter the value 3
Enter the value 4
Enter the value 33
Enter the value 44
Enter the value 'Raja'
Enter the value 'Ram'
Enter the value 'exit'

[3, 4, 33, 44, 'Raja', 'Ram']

In [2]:
k=[3,4,5,'ravi','anil','aman','lakhan',44,66,'anshu',]
x=int(input("Enter the size of delete elements"))          # delete multiple elements at runtime.
for i in range(0,x):
    g=eval(input("enter the value"))
    k.remove(g)
print(k)

Enter the size of delete elements 3
enter the value 4
enter the value 66
enter the value 'anil'

[3, 5, 'ravi', 'aman', 'lakhan', 44, 'anshu']

In [10]:
k=[3,4,5,'ravi','anil','aman','lakhan','anil',44,66,'anshu','anil']
c=0
for i in range(0,len(k)):
    if (k[i]=='anil'):
        c=c+1
        if(c==2):
            k[i]='Noida'
print(k)

[3, 4, 5, 'ravi', 'anil', 'aman', 'lakhan', 'Noida', 44, 66, 'anshu', 'anil']

In [12]:
k=[1,2,3,22,33,55,22,56,66,77,22]
p=[]
for i in k:
    if (i not in p):
        p.append(i)
print(p)

[1, 2, 3, 22, 33, 55, 56, 66, 77]

In [13]:
# list comprehension: Is inline code.
k=[i for i in range(1,11) if i%2==0]
k

[2, 4, 6, 8, 10]

In [15]:
# write a program to find the prime number in list
k=[1,2,3,4,5,6,7,8,9,10,11]
p=[]
for i in k:
    c=0
    for j in range(1,i+1):
        if(i%j==0):
            c=c+1
    if(c==2):
            p.append(i)
print(p)

[2, 3, 5, 7, 11]

In [17]:
h=[]
p=[]
[h.append(i) if i%2==0 else p.append(i) for i in range(1,20)]
print(h)
print(p)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
c=[(x,y) for x in range(3) for y in range(3)]
print(c)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [19]:
k=[4,5,6,12,9]
k2=[99,44,4,9,11,77]

s=[i for i in k if i in k2]
print(s)

[4, 9]

In [3]:
# Nested list
k=[22,34,56,['ravi','arun'],55,66,['raj','verma']]
# wap to duplicate value in list
# find the element in list which char len 6<char>10

In [ ]:
count = 0
for item in lst:
    if isinstance(item, list):
        count += 1
        count += count_nested_lists(item)
    count
data = [1, 2, [3, 4], [5, [6, 7], [8]], 9]

result = count_nested_lists(data)
print("Number of nested lists:", result)