In [1]:
# Dictionary:
# A Python dictionary (dict) is a built-in, mutable data structure that stores data in key-value pairs.
    # It is highly efficient for data retrieval using unique keys, functioning like a hash table
# dic is denoted by {}
# dic store the data on key
# dic is a mulatble
# dic key can't be dublicate and null
# key can be any data type.
# dic is also called JSON data.
# dic is a collection of object type element.
# dic is a class of collecrion.
# dic can store the data based on keys.

In [9]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d
d[111]

'monu'

In [6]:
d.pop(500)                    # pop for delete
d

{234: 'raj', 111: 'monu', 900: 'arjun', 777: 'harsh'}

In [8]:
d.clear()
d

{}

In [10]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d.popitem()  # dic pop without work with perameter.
d            # popitem is used for delete last item in dic.

{234: 'raj', 111: 'monu', 900: 'arjun', 500: 'harsh'}

In [11]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d.setdefault(766,'chandan')           # is used for add element at last position of index.
d

{234: 'raj',
 111: 'monu',
 900: 'arjun',
 500: 'harsh',
 777: 'harsh',
 766: 'chandan'}

In [12]:
# user definr dictionary.
x=int(input('Eneter the size of dic'))
d={}
for i in range(0,x):
    k=eval(input("Enter the key"))
    v=eval(input("Eneter the value"))
    d.setdefault(k,v)
d

Eneter the size of dic 5
Enter the key 23
Eneter the value 55
Enter the key 34
Eneter the value 'chandan'
Enter the key 66
Eneter the value 'aadil'
Enter the key 67
Eneter the value 'deepak'
Enter the key 55
Eneter the value 99

{23: 55, 34: 'chandan', 66: 'aadil', 67: 'deepak', 55: 99}

In [15]:
d={'id':3456,'name':'chandan','age':21,'contact':9312436787}
print(d.keys())     # to find the all keys of dictionary.
print(d.values())    # to fing the all values of dict.
print(d.items())         # to find the all keys and values
len(d.items())          # to print the length

dict_keys(['id', 'name', 'age', 'contact'])
dict_values([3456, 'chandan', 21, 9312436787])
dict_items([('id', 3456), ('name', 'chandan'), ('age', 21), ('contact', 9312436787)])

4

In [21]:
d={'id':3456,'name':'chandan','age':21,'contact':9312436787}
for i in d.items():
    print(i)
for i,j in d.items():
    print(i,"-",j)

('id', 3456)
('name', 'chandan')
('age', 21)
('contact', 9312436787)
id - 3456
name - chandan
age - 21
contact - 9312436787

In [22]:
student = {"name": "Chandan", "age": 21, "course": "BCA"}

student.pop("age")
del student["course"]

print(student)

{'name': 'Chandan'}

In [4]:
student = {"name": "Chandan", "age": 21, "course": "BCA"}

student.pop("age")                    # to delete the element using keys.
del student["course"]

print(student.get('name'))            # to get the element using keys.

Chandan

In [5]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
for i in sorted(d.items()):
    print(i)

(111, 'monu')
(234, 'raj')
(500, 'harsh')
(777, 'harsh')
(900, 'arjun')

In [6]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
for i in reversed(sorted(d.items())):
    print(i)

(900, 'arjun')
(777, 'harsh')
(500, 'harsh')
(234, 'raj')
(111, 'monu')

In [11]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d[900]='chandan'
print(d)

{234: 'raj', 111: 'monu', 900: 'chandan', 500: 'harsh', 777: 'harsh'}

In [13]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d2= {"name": "Chandan", "age": 21, "course": "BCA"}
d.update(d2)
print(d)

{234: 'raj', 111: 'monu', 900: 'arjun', 500: 'harsh', 777: 'harsh', 'name': 'Chandan', 'age': 21, 'course': 'BCA'}

In [14]:
d2= {"name":["Chandan","Akash","Badal"], "age": [21,22,23], "course": ["BCA","Btech","BBA"]}
print(d2)

{'name': ['Chandan', 'Akash', 'Badal'], 'age': [21, 22, 23], 'course': ['BCA', 'Btech', 'BBA']}