In [1]:
# Dictionary:
# A Python dictionary (dict) is a built-in, mutable data structure that stores data in key-value pairs.
    # It is highly efficient for data retrieval using unique keys, functioning like a hash table
# dic is denoted by {}
# dic store the data on key
# dic is a mulatble
# dic key can't be dublicate and null
# key can be any data type.
# dic is also called JSON data.
# dic is a collection of object type element.
# dic is a class of collecrion.
# dic can store the data based on keys.

In [9]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d
d[111]

'monu'

In [6]:
d.pop(500)                    # pop for delete
d

{234: 'raj', 111: 'monu', 900: 'arjun', 777: 'harsh'}

In [8]:
d.clear()
d

{}

In [10]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d.popitem()  # dic pop without work with perameter.
d            # popitem is used for delete last item in dic.

{234: 'raj', 111: 'monu', 900: 'arjun', 500: 'harsh'}

In [11]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d.setdefault(766,'chandan')           # is used for add element at last position of index.
d

{234: 'raj',
 111: 'monu',
 900: 'arjun',
 500: 'harsh',
 777: 'harsh',
 766: 'chandan'}

In [12]:
# user definr dictionary.
x=int(input('Eneter the size of dic'))
d={}
for i in range(0,x):
    k=eval(input("Enter the key"))
    v=eval(input("Eneter the value"))
    d.setdefault(k,v)
d

Eneter the size of dic 5
Enter the key 23
Eneter the value 55
Enter the key 34
Eneter the value 'chandan'
Enter the key 66
Eneter the value 'aadil'
Enter the key 67
Eneter the value 'deepak'
Enter the key 55
Eneter the value 99

{23: 55, 34: 'chandan', 66: 'aadil', 67: 'deepak', 55: 99}

In [15]:
d={'id':3456,'name':'chandan','age':21,'contact':9312436787}
print(d.keys())     # to find the all keys of dictionary.
print(d.values())    # to fing the all values of dict.
print(d.items())         # to find the all keys and values
len(d.items())          # to print the length

dict_keys(['id', 'name', 'age', 'contact'])
dict_values([3456, 'chandan', 21, 9312436787])
dict_items([('id', 3456), ('name', 'chandan'), ('age', 21), ('contact', 9312436787)])

4

In [21]:
d={'id':3456,'name':'chandan','age':21,'contact':9312436787}
for i in d.items():
    print(i)
for i,j in d.items():
    print(i,"-",j)

('id', 3456)
('name', 'chandan')
('age', 21)
('contact', 9312436787)
id - 3456
name - chandan
age - 21
contact - 9312436787

In [22]:
student = {"name": "Chandan", "age": 21, "course": "BCA"}

student.pop("age")
del student["course"]

print(student)

{'name': 'Chandan'}

In [4]:
student = {"name": "Chandan", "age": 21, "course": "BCA"}

student.pop("age")                    # to delete the element using keys.
del student["course"]

print(student.get('name'))            # to get the element using keys.

Chandan

In [5]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
for i in sorted(d.items()):
    print(i)

(111, 'monu')
(234, 'raj')
(500, 'harsh')
(777, 'harsh')
(900, 'arjun')

In [6]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
for i in reversed(sorted(d.items())):
    print(i)

(900, 'arjun')
(777, 'harsh')
(500, 'harsh')
(234, 'raj')
(111, 'monu')

In [11]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d[900]='chandan'
print(d)

{234: 'raj', 111: 'monu', 900: 'chandan', 500: 'harsh', 777: 'harsh'}

In [13]:
d={234:'raj',111:'monu',900:'arjun',500:'harsh',777:'harsh'}
d2= {"name": "Chandan", "age": 21, "course": "BCA"}
d.update(d2)
print(d)

{234: 'raj', 111: 'monu', 900: 'arjun', 500: 'harsh', 777: 'harsh', 'name': 'Chandan', 'age': 21, 'course': 'BCA'}

In [14]:
d2= {"name":["Chandan","Akash","Badal"], "age": [21,22,23], "course": ["BCA","Btech","BBA"]}
print(d2)

{'name': ['Chandan', 'Akash', 'Badal'], 'age': [21, 22, 23], 'course': ['BCA', 'Btech', 'BBA']}

In [15]:
import pandas as pd
d2= {"name":["Chandan","Akash","Badal"], "age": [21,22,23], "course": ["BCA","Btech","BBA"]}
df=pd.DataFrame(d2)
print(df)

      name  age course
0  Chandan   21    BCA
1    Akash   22  Btech
2    Badal   23    BBA

In [24]:
import pandas as pd
d2= {"name":["Chandan","Akash","Badal"], "age": [21,22,23], "course": ["BCA","Btech","BBA"]}
df=pd.DataFrame(d2)
df.to_csv(r"C:/Users/asus/Documents/data3.csv")

In [1]:
d={'a':1,'b':2}
d2={'a':1,'b':2}
d3={'a':1,'c':2}
d4={'a':1,'b':3}
print(d==d2)
print(d==d3)
print(d==d4)

True
False
False

In [2]:
# Convert list into dictionary.
k=['id','name','age','address']
k2=[123,'Chandan',21,'Ghaziabad']
d=dict(zip(k,k2))             # zip method is used for create dict using two list.
d

{'id': 123, 'name': 'Chandan', 'age': 21, 'address': 'Ghaziabad'}

In [3]:
# Dictionary comprehension :
# Dictionary comprehension is a method for transforming one dictionary into another dictionary. 
# During this transformation, items within the original dictionary can be conditionally included in the new dictionary
# and each item can be transformed as needed.

In [5]:
d={i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [7]:
# Remove dict key space with dict comprehensionn.
d={'first name':'chandan','last name':'Thakur','age':21}
s={k.replace(' ',''):v for k,v in d.items()}
s

{'firstname': 'chandan', 'lastname': 'Thakur', 'age': 21}

In [14]:
# Count repeat 
s= "Dictionary comprehension is a method for transforming one dictionary into another Dictionary"
t=s.split()
# print(t)

d={i:t.count(i) for i in t}
print(d)

{'Dictionary': 2, 'comprehension': 1, 'is': 1, 'a': 1, 'method': 1, 'for': 1, 'transforming': 1, 'one': 1, 'dictionary': 1, 'into': 1, 'another': 1}

In [17]:
# Find the maximum key values in python using dict comprehension.
d={'hr':45,'it':65,'cs':55,'sales':50}
temp=max(d.values())
print(temp)

results={i for i in d if d[i]==temp}
results

65

{'it'}

In [19]:
d={'hr':45,'it':65,'cs':55,'sales':50}
del d['it']
d

{'hr': 45, 'cs': 55, 'sales': 50}

In [20]:
# Nested Dictionary.
# A nested dictionary is a dictionary that contains another dictionary as a value.
# It helps organize complex or grouped data, like student details or product info in a clean and structured way.

In [21]:
# Creating a Nested Dictionary
Dict = { 1: 'Geeks', 
         2: 'For', 
         3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'} }
Dict

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [26]:
dic={1:{'name':'raj','id':123,'age':23},2:{'name':'raju','id':121,'age':22}}
print(dic[1]['id'])
print(dic[2]['age'])

123
22

In [28]:
dic={1:{'name':'raj','id':123,'age':23},2:{'name':'raju','id':121,'age':22}}
dic[1]['id']=122
dic[2]['age']=45
dic

{1: {'name': 'raj', 'id': 122, 'age': 23},
 2: {'name': 'raju', 'id': 121, 'age': 45}}