In [ ]:
# function in python
'''Functions in Python are named, reusable blocks of code that perform specific tasks,
helping to organize programs, reduce redundancy (the "DRY" principle),
and improve code readability and modularity. 
Defining and Calling a Function
Functions are defined using the def keyword, followed by a function name, 
parentheses (), and a colon :. The function body is indented below the definition'''

In [ ]:
  # function types
'''Predefine function:
     max()
     min()
     len()
     sorted()
user define function:
    Parameterized fun
    Perameterless fun
    Default argument fun
    Positional argument fun
    Anonymous fun
    Return type fun
    Recursion 
    Argument paramaterized
    keyword argument parameterized fun
    Iterater fun
    Generater fun
    Decorators fun '''

In [1]:
def Add(x,y):
    z=x+y
    print(z)

Add(2,4)

6

In [2]:
def Mul(n,n2):
    mul=n*n2
    print(mul)
Mul(5,6)

30

In [ ]:
# Day 2

In [4]:
# system definr function
import math

print(math.factorial(5))
print(math.pow(2,5))

120
32.0

In [ ]:
# User define function
# 1. Parameterised function: 
# ex:- function(perameter1,perameter2)
# Argument:- when call funtion then these perameter values are called argument.

In [5]:
def Sub(a,b):
    c=a-b
    print(c)

a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
Sub(a,b)

Enter the value of a: 5
Enter the value of b: 7

-2

In [9]:
# 2. Perameterless function for ex:- clear() function.
def show():
    a=10
    b=20
    c=a+b
    print(c)

show()

30

In [12]:
# 3. Default Parameterized function  ex= loop me for i in range(1,2,1) in this third value is default asign.
# when you can define the value in make the function then after this variable you can asign all the variable values.
def show(id,name,salary=50000):
    print(id)
    print(name)
    print(salary)

show(1,"sagar")

1
sagar
50000

In [16]:
def check_even(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(check_even(10))

check_even(10)

Even

'Even'

In [14]:
def check_even(num):
    if num % 2 == 0:
        return "Even"
    return "Odd"   # indentation galat ho sakti hai
check_even(7)

'Odd'

In [1]:
# Factorial
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

print(factorial(5))

120

In [2]:
# Reverse string
def reverse_string(s):
    return s[::-1]

print(reverse_string("Python"))

nohtyP

In [4]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for i in s:
        if i in vowels:
            count += 1
    return count

print(count_vowels("Hello coders"))

4

In [6]:
def fibonacci(k):
    a, b = 0, 1
    for i in range(k):
        print(a, end=" ")
        a, b = b, a+b

fibonacci(7)

0 1 1 2 3 5 8

In [1]:
def show(x,y):
    z=x+y
    print(z)

show(5,6)

11

In [6]:
def sh(x,y):
    z=x+y
    return z

g=sh(21,12)
print(g)

33

In [10]:
def a(x,y):
    b="chandan"
    d="Thakur"
    s=x+y
    return s,b,d

a(4,3)

(7, 'chandan', 'Thakur')

In [11]:
g,z,t=a(5,6)
print(g-9)
print(z)
print(t)

2
chandan
Thakur

In [1]:
# 4. Argument paramaterized function: It is useful to create a dynamic perameterised function.

In [2]:
def show(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)

show(4,5,1,3)

4
5
1
3

In [4]:
def view(*k):
    print(k)


view(12,33,345,5643,5566)
view('chandan','akash','aditya')

(12, 33, 345, 5643, 5566)
('chandan', 'akash', 'aditya')

In [7]:
def viewer(*k):
    for i in k:
        print(i)


viewer(232,334,43,345,'asas','Dell','hp')

232
334
43
345
asas
Dell
hp

In [11]:
# 5. keyword argument function:
def viewer(**k):
    for i in k.items():
        print(i)


viewer(password='reeree',pancode='kpgm1234',)

('password', 'reeree')
('pancode', 'kpgm1234')

In [4]:
# 6. Iterater function
x=12346
total=0
t=str(x)
for i in t:
    total=total+int(i)
print(total)

16

In [6]:
# one increment   // index +1
k=[5,4,3,33,45,65]
for i in range(0,len(k)):
    print(k[i])

5
4
3
33
45
65

In [7]:
# iteratable  // next by next
k=[3,33,45,34,55,66]
for i in k:
    print(i)

3
33
45
34
55
66

In [9]:
def show():
    for i in range(0,5):
        print(i)

show()

0
1
2
3
4

In [11]:
def view():
    for i in range(0,5):
        yield i              # yield return the value when value is generate and give.

h=list(view())
print(h)

[0, 1, 2, 3, 4]

In [13]:
k=[22,33,4,45,5,6,7,7,8,5,4,3,45,56,6,7,6,45,4]
def show():
    for i in k:
        yield(i)

a=list(show())
print(a)

[22, 33, 4, 45, 5, 6, 7, 7, 8, 5, 4, 3, 45, 56, 6, 7, 6, 45, 4]

In [1]:
# 7. Positional Argument Function
def intro(name, age):
    print("Name:", name)
    print("Age:", age)

intro("Chandan", 20)

Name: Chandan
Age: 20

In [2]:
def info(name, age):
    print("Name:", name)
    print("Age:", age)

info(20,"Chandan")

Name: 20
Age: Chandan

In [3]:
# 8. Anonymous Function (Lambda Function
square = lambda x: x*x
print(square(12))

144

In [4]:
# 9. Return Type Function
def addition(a, b):
    return a + b

result = addition(15,27)
print(result)

42

In [5]:
# 10. Recursion Function
def facto(n):
    if n == 1:
        return 1
    else:
        return n * facto(n-1)

print(facto(5))

120