In [1]:
## Tuple:
# A tuple in Python is an immutable ordered collection of elements.
# tuple denoted by () bracket.
# It is immutable.
# It can store the data on index.
# tuple accept duplicate entry.
# tuple is a static.
# tuple is a collection of object type elements.
# tuple is a class of collection.
# Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable).
# Tuples can hold elements of different data types.
# The main characteristics of tuples are being ordered, heterogeneous and immutable.
# first element store by defalut in zero index.

In [2]:
s=('ravi','kumar',66,33,12,'kapli','ravi')
print(s[0])

ravi

In [3]:
s=('ravi','kumar',66,33,12,'kapli','ravi')
s[3]=456
print(s[3])

TypeError: 'tuple' object does not support item assignment

In [7]:
# slicing
s=('ravi','kumar',66,33,12,'kapli','raj')
print(s[2:6])
print(s[::-1])

(66, 33, 12, 'kapli')
('raj', 'kapli', 12, 33, 66, 'kumar', 'ravi')

In [8]:
s=('ravi','kumar',66,33,12,'kapli','ravi')
print(len(s))

7

In [9]:
s=('ravi','kumar',66,33,12,'kapli','ravi')
for i in s:
    print(i)

ravi
kumar
66
33
12
kapli
ravi

In [10]:
s=('ravi','kumar',66,33,12,'kapli','raj')
s2=('aman','chman',34,11,22,33,44,55)
t=s+s2
print(t)

('ravi', 'kumar', 66, 33, 12, 'kapli', 'raj', 'aman', 'chman', 34, 11, 22, 33, 44, 55)

In [12]:
s=('ravi','kumar',66,'ravi',33,12,'kapli','raj','ravi')
for i in range(0,len(s)):
    if (s[i]=='ravi'):
        print(i)

0
3
8

In [1]:
s=('ravi','kumar',66,33,12,'kapli','ravi',44,77,66,54333,'ravi',)
print(s.count('ravi'))           # for count how many times repart the value in tuple.

3

In [2]:
s=('ravi','kumar',66,33,12,'kapli','ravi',545,66,78,'sagar')
del s            # for delet the set
print(s)

NameError: name 's' is not defined

In [5]:
s=('ravi','kumar',66,33,12,'kapli','raj')
s2=('aman','chman',34,11,22,33,44,55)
s3=s+s2
print(s3)

('ravi', 'kumar', 66, 33, 12, 'kapli', 'raj', 'aman', 'chman', 34, 11, 22, 33, 44, 55)

In [2]:
s=('ravi','kumar',66,33,12,'kapli','raj')
s2=('aman','chman',34,11,22,33,44,55)
s3=('chandan','badal','kumar')
s4=s+s2+s3
print(s4)

('ravi', 'kumar', 66, 33, 12, 'kapli', 'raj', 'aman', 'chman', 34, 11, 22, 33, 44, 55, 'chandan', 'badal', 'kumar')

In [3]:
# we can't not make the user definr tuple because it is immutable so it can not initalise at runtime.

In [4]:
# Nested tuple
s=(4,3,2,'ravi','raj',88,89,99)
s2=(33,44,55,'ram','ramu')
s3=(s,s2)
print(s3)

((4, 3, 2, 'ravi', 'raj', 88, 89, 99), (33, 44, 55, 'ram', 'ramu'))

In [5]:
# Repat the tuple vlaues
t=(34,45,56,'ram','raj','ramu','sonu')
t2=(t*2)
print(t2)

(34, 45, 56, 'ram', 'raj', 'ramu', 'sonu', 34, 45, 56, 'ram', 'raj', 'ramu', 'sonu')

In [9]:
# Tuple unpacking
t=('ravi','arjun','arun',88,898,99,1009)
a,b,*c=t
print(a)
print(b)
print(c)

ravi
arjun
['arun', 88, 898, 99, 1009]

In [11]:
# Tuple packing
t='ravi','arjun','arun',88,898,99,1009
print(t)
print(type(t))

('ravi', 'arjun', 'arun', 88, 898, 99, 1009)
<class 'tuple'>

In [12]:
a,b,*c,d=(10,'hello',3.14,77,'raj',99)
print(a)
print(b)
print(*c)
print(d)

10
hello
3.14 77 raj
99

In [14]:
# mathemathical operations it apply only when all the item of tuple is in numeric form.
t=(22,33,44,55,66,77,88,99,110)
print(sum(t))
print(max(t))
print(min(t))
print(len(t))

594
110
22
9

In [15]:
# Enumerate tells us the index value
s=('ravi','kumar',66,33,12,'kapli','raj')
for i,j in enumerate(s):
    print(i," ",j)

0   ravi
1   kumar
2   66
3   33
4   12
5   kapli
6   raj

In [17]:
t=(1,2,3,4,5,22,33,44,55,66,77,88,99,110)
res= all(i>5 for i in t)      # if all are greater then 5 then true otherwise false.
print(res)

False

In [18]:
t=(1,2,3,4,5,22,33,44,55,66,77,88,99,110)
res= any(i>5 for i in t)       # if anyone is greater than 5 then true otherwise false.
print(res)

True

In [20]:
s=('ravi','kumar',66,33,12,'kapli','raj')
print(s.index(33))              # it tells the index value

3