In [1]:
# set in python:
# A set in Python is an unordered collection of unique, hashable elements.
# Sets are mutable, meaning you can add or remove items after creation, and they are highly optimized for membership testing and removing duplicates
# set denoted by {}
# set can't accept duplicate value by default.
# set is an unordered data.
# set is a collection of object type of element.
# set is a class of collection.

In [12]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
print(s)
print(s)
type(s)

{65, 4, 5, 6, 7, 44, 77, 'ravi', 55, 'aman'}
{65, 4, 5, 6, 7, 44, 77, 'ravi', 55, 'aman'}

set

In [14]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
s2={22,32,4,55,54,'aman',88,56,99,44,36}
print(s.intersection(s2))                 # common values in both set
print(s.union(s2))                        # merge the both set and remove repeat values3

{4, 'aman', 44, 55}
{65, 4, 5, 6, 7, 77, 'ravi', 22, 88, 32, 99, 36, 44, 54, 55, 56, 'aman'}

In [15]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
s.clear()                         # for clear all the set.
s

set()

In [25]:
s={3,4,5,6,'ravi','monu'}
s2={'ravi',5,3,'sonu',4,6,'monu','rana'}
print(s.issubset(s2))       # when s2 all element can lie in the set of s so, s is subset of s2.
print(s2.issubset(s))   
print(s.issuperset(s2))    # when s2 all element can lie in the set of s then, s is superset of s2.
print(s2.issuperset(s))

True
False
False
True

In [21]:
s={3,4,5,6,'ravi','monu'}
s.remove('monu')              # for remove the element
s

{3, 4, 5, 6, 'ravi'}

In [32]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
s2={22,32,4,55,54,'aman',88,56,99,44,36}
s.update(s2)       # update can update the values and store in s
# print(s)
# print(s.union(s2))    # update the values and restore in another variable.
s

{22, 32, 36, 4, 44, 5, 54, 55, 56, 6, 65, 7, 77, 88, 99, 'aman', 'ravi'}

In [38]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
s2={22,32,4,55,54,'aman',88,56,99,44,36}
print(s.difference(s2))       # diff is used to remove thw element wich is present in set2.
print(s2.difference(s))
s-s2

{65, 5, 6, 7, 77, 'ravi'}
{32, 99, 36, 54, 22, 56, 88}

{5, 6, 65, 7, 77, 'ravi'}

In [43]:
s = {1, 2, 3}
s.discard(5)  # no error
# s.remove(2)  # KeyError
s

{1, 2, 3}

In [4]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
s.add(344)        # add a new element in set.
print(s)
s

{65, 4, 5, 6, 7, 44, 77, 'ravi', 55, 344, 'aman'}

{344, 4, 44, 5, 55, 6, 65, 7, 77, 'aman', 'ravi'}

In [7]:
x=int(input("Enter the size of set"))
s=set()
for i in range(0,x):
    a=eval(input(f"Enter the value [i]"))
    s.add(a)
print(s)
s

Enter the size of set 5
Enter the value [i] 33
Enter the value [i] 56
Enter the value [i] 234
Enter the value [i] 'Chandan'
Enter the value [i] 'Akash'

{33, 'Akash', 'Chandan', 234, 56}

{234, 33, 56, 'Akash', 'Chandan'}

In [10]:
s={5,6,7,'ravi',65,77}
s2={22,32,4,55,54,'aman',88,56,99,44,36}
s.isdisjoint(s2)       # it is used for compair the two set in both set anyone element can match then show false otherwise true.

True

In [15]:
s={5,6,7,'ravi',65,77}
s.pop()       # for delete any random value
print(s)
s

{'ravi', 5, 6, 7, 77}

{5, 6, 7, 77, 'ravi'}

In [9]:
s={4,5,6,7,'ravi','aman',55,65,44,77}
s2={22,32,4,55,54,'aman',88,56,99,44,36}
s3=s.symmetric_difference(s2)   # it can remove the s element which can present in s2 and s2 in s then combanied those remain element into s3.
print(s3)

{32, 65, 99, 36, 5, 6, 7, 77, 'ravi', 54, 22, 56, 88}

In [17]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

common = set1.intersection(set2)
print(common)

{3, 4}

In [18]:
s = {1, 2, 3}

s.add(4)          # single element
s.update([5, 6])  # multiple elements

print(s)

{1, 2, 3, 4, 5, 6}

In [19]:
setnums = {1, 2, 3, 4, 5, 6, 7, 8}

even_set = {n for n in setnums if n % 2 == 0}
print(even_set)

{8, 2, 4, 6}

In [10]:
s={4,5,6,7,'ravi','aman'}
s2={22,6,4,55,54,'aman',55,'amar'}
s.symmetric_difference_update(s2)  # it can remove the s element which can present in s2 and s2 in s the combanied those remain element into a new variable s3.
s

{22, 5, 54, 55, 7, 'amar', 'ravi'}

In [11]:
# set comprehension
s={ i**2 for i in range (0,10)}
print(s)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}