In [1]:
# set in python:
# A set in Python is an unordered collection of unique, hashable elements.
# Sets are mutable, meaning you can add or remove items after creation, and they are highly optimized for membership testing and removing duplicates
# set denoted by {}
# set can't accept duplicate value by default.
# set is an unordered data.
# set is a collection of object type of element.
# set is a class of collection.

In [12]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
print(s)
print(s)
type(s)

{65, 4, 5, 6, 7, 44, 77, 'ravi', 55, 'aman'}
{65, 4, 5, 6, 7, 44, 77, 'ravi', 55, 'aman'}

set

In [14]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
s2={22,32,4,55,54,'aman',88,56,99,44,36}
print(s.intersection(s2))                 # common values in both set
print(s.union(s2))                        # merge the both set and remove repeat values3

{4, 'aman', 44, 55}
{65, 4, 5, 6, 7, 77, 'ravi', 22, 88, 32, 99, 36, 44, 54, 55, 56, 'aman'}

In [15]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
s.clear()                         # for clear all the set.
s

set()

In [25]:
s={3,4,5,6,'ravi','monu'}
s2={'ravi',5,3,'sonu',4,6,'monu','rana'}
print(s.issubset(s2))       # when s2 all element can lie in the set of s so, s is subset of s2.
print(s2.issubset(s))   
print(s.issuperset(s2))    # when s2 all element can lie in the set of s then, s is superset of s2.
print(s2.issuperset(s))

True
False
False
True

In [21]:
s={3,4,5,6,'ravi','monu'}
s.remove('monu')              # for remove the element
s

{3, 4, 5, 6, 'ravi'}

In [30]:
s={4,5,6,7,'ravi','aman',4,5,55,65,44,77}
s2={22,32,4,55,54,'aman',88,56,99,44,36}
s.update(s2)
print(s)
print(s.union(s2))

{65, 4, 5, 6, 7, 77, 'ravi', 22, 88, 32, 99, 36, 44, 54, 55, 56, 'aman'}
{65, 4, 5, 6, 7, 77, 'ravi', 22, 88, 32, 99, 36, 44, 54, 55, 56, 'aman'}